/* Navigation Bar */
.customNav {
    position: fixed;
    width: 100%;
    background-color: #382e59 !important;
    background-size: cover;
    z-index: 10;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 44px;
  }
  .navbar-brand {
    padding-right: 15px;
    width: 65px;
    padding-left: 15px;
    font-family: Quattrocento, sans-serif;
    font-size: 30px !important;
    font-weight: bold;
  }

  /* Navigation links */
  .nav-link {
    padding: 15px;
    margin-right: auto;
    margin-left: 15px;
    font-family: Quattrocento, sans-serif;
    font-size: 24px;
    color: white !important;
  }
  
/* Main Section */  
.mainSection {
  background-color: #1f1d1e;
  color: white;
}

.sharkPic {

}
/* make shark image change depending on screen size (ie small shark species for small screens and big species for big screens */

/* Dumb Kenobi Gif */
.btn-primary {
  color: white;
  background-color: #1f1d1e;
  margin-top: 50px;
  margin-left: 15px;
  outline: none;
  border: none;
}

.modal-content {
  background-color: black;
}
.button-close {
  size: auto;
}

a

















/* Navigation .nav-link {
    color: #ffffff !important;
    font-family: Quattrocento;
    justify-content: end;
}

.customNav {
    font-family: Quatrrocento;
    background-color: #382e59;
    color: #ffffff;
}
 */
